<div class="ml-container">
  <div class="ml-item-card">
    <div>
        <img class="ml-item-picture pr-1" src="src/assets/images/Logo_ML.png" alt="Foto">
        <div class="ml-item-summary">
            <div class="ml-item-status">
                 vendidos
            </div>
            <div class="ml-item-name">
                titulo
            </div>
            <div class="ml-item-price">
                600 pesos
            </div>
            <div>
                <button type="button" class="btn btn-primary ml-btn-primary">Comprar</button>
            </div>
        </div>
    </div>
    <div class="ml-item-description">
        <div class="ml-title">Descripción del producto</div>
        fsdsdfs
    </div>
  </div>
</div>
