
<div class="ml-container">
  <div class="ml-item-card clearfix">
          <img class="ml-item-thumbnail" src="src\assets\images\Logo_ML.png" alt="Foto">
      <div class="row no-gutters">
          <div class="col">
              <span class="ml-item-price">
                  600 pesos
              </span>
          </div>
          <div class="col-sm-4">
              <span class="ml-item-location">Medellin</span>
          </div>
      </div>
      <div class="ml-item-title">
        <label>titulo</label>
      </div>
  </div>
</div>
